body{text-align: center;background-color: aqua}

.homer{color:blue;text-shadow: 10px 6px 3px red
   ;font-size: 250%;font-weight: lighter; position: fixed;
  top: 5px;
  left: 0;
  width: 200px;}

  .homer:hover{color:red; 
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;background:white;
}
a:hover { color:red; background:aqua;
  -o-transition:color .2s ease-out, background .5s ease-in;
  -ms-transition:color .2s ease-out, background .5s ease-in;
  -moz-transition:color .2s ease-out, background .5s ease-in;
  -webkit-transition:color .2s ease-out, background .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .5s ease-in; }
    
a:visited{color:navy
    ;}

button{text-align: center;}

h1 {color:blue;font-size:300%; text-align: center;text-shadow: 8px 8px 8px red; margin-top: 50px;margin-bottom: 75px}

a:link {text-decoration: none;}

.fps
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
}

.fps:hover {
    width: 300px;
}

.releases
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s;
}

.releases:hover {
    width: 300px;
}

.reviews
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
}

.reviews:hover {
    width: 300px;
}




.releases
{font-size: 150%;margin:auto; 
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
}

.releases:hover {
    width: 300px;
}



.fpstohome
{font-size: 150%;margin:auto; 
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
}

.fpstohome:hover {
    width: 300px;
}

.fpsheader1 {font-size: 140%; font-family:  arial; }






.fpsreleasestoreviews {font-size: 150%;
    width: 200px;
    height: 10px;
    background: red;
    -webkit-transition: width 1s;

text-align: center ; float: right; 
    margin-top: 1px;
    margin-bottom: 10px;
    margin-right: 400px;
    margin-left: 15px;
    padding-top: 1px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
}


.fpsreleasestoreviews:hover {
    width: 300px;
}
.fpsreleasestext {font-size: 150%; font-weight: lighter;}

.multiplayer
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s;
    transition: width 1s;margin-top: 35px;margin-bottom: 35px;
}

 .multiplayer:hover {
    width: 300px;
}

.RPG
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
}

 .RPG:hover {
    width: 300px;
}

.News
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; margin-top: 35px;margin-bottom: 35px;
}

 .News:hover {
    width: 300px; 
}

.newstext {font-size: 150%; font-weight: lighter;}

.home
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
}

.home:hover {
    width: 300px;
}