body{text-align: center;background-color: aqua}

h1 {color:blue;font-size:300%; text-align: center;text-shadow: 8px 8px 8px red; margin-top: 50px;margin-bottom: 75px}

/*--------------------------------------------------------------------------*/

/*Logo to Home code begin */

.homer{color:blue;text-shadow: 10px 6px 3px red
   ;font-size: 250%;font-weight: lighter; position: fixed;
  top: 5px;
  left: 0;
  width: 200px;}

  .homer:hover{color:red; 
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;background:white;
}

/*Logo to home code end */

/*--------------------------------------------------------------------------*/

/*Link decoration code begin */

a:hover { color:red; background:aqua;
  -o-transition:color .2s ease-out, background .5s ease-in;
  -ms-transition:color .2s ease-out, background .5s ease-in;
  -moz-transition:color .2s ease-out, background .5s ease-in;
  -webkit-transition:color .2s ease-out, background .5s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .5s ease-in;}
    
a:visited{color:navy
    ;}

a:link {text-decoration: none;}

/*Logo to Home code end */

/*--------------------------------------------------------------------------*/

/*Home page link code begin */

.fps
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;}

.fps:hover {
    width: 300px;
}

.multiplayer
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s;
    transition: width 1s;margin-top: 35px;margin-bottom: 35px;
}

.multiplayer:hover {
    width: 300px;
}

.RPG
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
}

.RPG:hover {
    width: 300px;
}

.News
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; margin-top: 35px;margin-bottom: 35px;
}

 .News:hover {
    width: 300px; 
}

/*Home page link code end */

/*-----------------------------------------------------------------------------*/

/*FPS page ink code begin*/




.fpsreleases
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s;
}

.fpsreleases:hover {
    width: 300px;
}

.fpsreviews
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
}

.fpsreviews:hover {
    width: 300px;
}

.home
{font-size: 150%;margin:auto; 
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
}

.home:hover {
    width: 300px;
}

.fpsheader1 {font-size: 140%; font-family:  arial; }

.fpsreleasestoreviews {font-size: 150%;margin:auto; 
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;}
   

.fpsreleasestoreviews:hover {
    width: 300px;
}

.battlefield {font-size: 150%;margin:auto; 
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;}
   

.battlefield:hover {
    width: 300px;
}


.fpsreleasestext {font-size: 150%; font-weight: lighter;}



.newstext {font-size: 150%; font-weight: lighter;}

.home
{font-size: 150%;margin:auto;
    width: 150px;
    height: 28px;
    background: red;
    -webkit-transition: width 1s; 
    transition: width 1s;
}

.home:hover {
    width: 300px;
}